<%- include('../partials/header.ejs')%>
<div class="profileBox">
    <h2 class="homeTxt">Offers Recieverd for: <%=produce.title></h2>
    <br><br>
    
    <table class="tabl">
        <thead>
          <tr>
            <th class="topCol">Buyer</th>
            <th class="topCol">Amount</th>
            <th class="topCol">Action</th>
          </tr>
        </thead>
        <tbody>
          <%if (produce.length) {%>
            <% produce.forEach(produce => {%>
            <tr>
                  <td>
                    <a href='/items/<%=produce.id%>'><%=user.firstName + " " + user.lastName%></a></td>
                  <td>
                    <p><%=offer.amount%></p>
                  </td>
                  <td>
                    <%if(produce.active) {%> {
                      <!-- Offer form (dunno what to do here yet) -->
                      <form action="/items/<%= profile.id %>/offers" method="GET">
                        <button type="submit" class="butto" id="ed">Accept</button>
                      </form>
                    } else {
                        <form action="/items/<%= profile.id %>/offers" method="GET">
                            <button type="submit" class="butto" id="ed" disabled>Accept</button>
                        </form>
                    }
                  </td>
            </tr>
          <% })%>
          <%} else {%>
            <tr>
              <td class="currentTxt"><p>Your listing has no current offers.</p></td>
            </tr>
          <%}%>
        </tbody>
    </table>
    </div>
  </body>
  
  </html>
  
<%- include('../partials/footer.ejs')%>
